Alessandro Roncone <alessandro.roncone@iit.it> <alecive87@gmail.com>
Daniele E. Domenichelli <daniele.domenichelli@iit.it> <daniele.domenichelli@gmail.com>
Davide Pollarolo <davide.pollarolo@iit.it>
Marco Accame <marco.accame@iit.it>
Marco Randazzo <marco.randazzo@iit.it>
Marco Randazzo <marco.randazzo@iit.it> <randaz81@gmail.com>
Valentina Gaggero <valentina.gaggero@iit.it>
Valentina Gaggero <valentina.gaggero@iit.it> <Valetina.Gaggero@iit.it>
